body {
	margin: auto 0;
	font-family: Arial;
}

.zone {
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.big {	
	font-size: 3em;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

h1 {
	color: white;
}

.push {
	margin-left: auto;
}

/* MAIN NAV */
.main-nav {
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 1.7em;
	margin: 0;
	background-color: rgb(34, 112, 185);
	padding: 0;
}

@media only screen and (max-width: 600px) {
	.main-nav {
		font-size: 1em;
		padding: 0;
	}
}

/* list */

.container{
	display: flex;
	height: 80vh;
	flex-direction: column;
}

/* list items used by javascript */ 
.itemGrid {
	display: grid;
	grid-template-columns: 8fr 2fr 2fr;
	grid-template-rows: repeat(auto-fill, minmax(1em, 2em));
	list-style: square;
	justify-content: center;
	font-size: 4em;
}

.center{
	align-self: center;
}

.clickable {
	cursor:pointer;
}

.complete {
	text-decoration: line-through;
	color: rgb(149, 212, 141);
}

div > img {
	width: 2em;
}


